body{
    background-image: url("../../images/hendon/login-bg.png");
    background-position:center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-box{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -250px;
    border-radius: 16px;
    text-align: center;
}
.login-box .logo{
    width: 500px;
    height: 150px;
}
.login-box input{
    width: 360px;
    height: 40px;
    margin-top: 40px;
    /*margin-left: 50px;*/
    border: none;
    border-bottom: 1px solid #C9D1DC;
    padding-left: 40px;
    font-size: 16px;
    outline: none;
    color: #64696e;
}
.login-box input::-webkit-input-placeholder { /* WebKit browsers */
    color:#C9D1DC;
}
.login-box input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#C9D1DC;
}
.login-box input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#C9D1DC;
}
.login-box input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#C9D1DC;
}
.login-box input.username{
    background-image: url("../../images/hendon/user-icon.png");
    background-repeat: no-repeat;
    background-position: 5px center;
}
.login-box input.password{
    background-image: url("../../images/hendon/pass-icon.png");
    background-repeat: no-repeat;
    background-position: 5px center;
}
.login-box .pass-box{
    width: 400px;
    height: 30px;
    margin-left: 50px;
    margin-top: 20px;
}
.login-box .pass-box p{
    display: block;
    float: left;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
}
.login-box .pass-box p i{
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #d4d4d4;
    border-radius: 3px;
    vertical-align: middle;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
    cursor: pointer;
}
.login-box .pass-box p i.active{
    border: none;
    width: 18px;
    height: 18px;
    background-image: url("../../images/hendon/remember.png");
    background-repeat: no-repeat;
    background-position: center;
}
.login-box .pass-box a{
    display: block;
    height: 30px;
    line-height: 30px;
    float: right;
    font-size: 15px;
}
.login-box button.login{
    width: 300px;
    height: 60px;
    margin: 40px auto 0;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #2B92F1;
    border-radius: 50px;
    cursor: pointer;
}