<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to login page~</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" th:href="@{/static/images/favicon.png}" type="image/png">
</head>
<body>
    <form method="post" id="fm1" th:action="@{/sso/login}">
        <input type="hidden" name="redirect_url" th:value="${redirect_url}">
        <input type="hidden" name="client_id" th:value="${client_id}">
        <input type="hidden" name="server" th:value="${server}">
        <input type="text" id="loginName" name="loginName" th:value="${loginName}"
               th:placeholder="请输入用户名..."/>
        <input type="password" id="password" name="password" th:value="${password}"
               th:placeholder="请输入密码..."/>
        <section>
            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            <input type="hidden" name="_eventId" value="submit"/>
            <input type="hidden" name="geolocation"/>
            <div class="passstyle item">
                <span th:text="${errorMsg}"> </span>
            </div>
            <!--登陆按钮-->
            <button id="submit" name="submit" accesskey="l">登录</button>
        </section>
    </form>
</div>
</body>
</html>